@{
    ViewBag.Title = "HomeDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var bookid = Model.BBookID;
    var WriterID = Model.WriterID;
}
@model LibraryModel.Book.BookModel

<style>
    .contain{
        width:80%;
        margin-left:10%;
    }
    .myChpName{
         font-size:3em;
        font-family:Microsoft YaHei   \5FAE\8F6F\96C5\9ED1;
        margin-left:40%;
    }
    #listid{
        font-size:2em;
        font-family:Microsoft YaHei   \5FAE\8F6F\96C5\9ED1;
    }
</style>
<input type="hidden" id="bookid" value="@Model.BBookID" />
<input type="hidden" id="WriterID" value="@Model.WriterID" />
<div class="contain">
    <span class="myChpName">@Model.BName</span>
    <fieldset class="layui-elem-field">
        <legend>@Model.BName</legend>
        <div class="layui-field-box">
            <span>作者：</span>
            简介：
            @Model.BIntroduction
        </div>
    </fieldset>

    <div>
        <a id="listid">查看目录</a>
    </div>
    <div>
        <table id="listtable" class="layui-table" lay-even="" lay-skin="row">
            <colgroup>
                <col width="500">
                <col width="500">
                <col width="500">
                <col>
            </colgroup>
            <tbody id="tabletbody"></tbody>
        </table>
    </div>
    <div>
        <input id="tsbtn" class="layui-btn layui-btn-warm" type="button" value="我要投诉作者" />
        <div class="Reportdiv" style="display:none">
            <br />
            <label class="layui-form-label">投诉原因</label>
            <div class="layui-input-block">
                <textarea id="ReportContent" placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
            <input id="ReportId" class="layui-btn layui-btn-danger" type="button" value="投诉" />
        </div>
    </div>
    <br />
    <div>
        <input id="tcbtn" class="layui-btn layui-btn-warm" type="button" value="我要吐槽这本书" />
        <div class="Commentdiv" style="display:none">
            <br />
            <label class="layui-form-label">吐槽</label>
            <div class="layui-input-block">
                <textarea id="CommentContent" placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
            <input id="tcaddbtn" class="layui-btn layui-btn-danger" type="button" value="发表" />
        </div>
    </div>
    <br />
    <div>
        <input id="Collection" class="layui-btn layui-btn-normal" type="button" value="收藏" />
    </div>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>收藏列表</legend>
    </fieldset>
    <div class="layui-collapse CommentArea" lay-filter="test">
    </div>
    <div>
        <input id="LookMore" class="layui-btn layui-btn-normal" type="button" value="查看更多" />
    </div>
</div>
<script>
    var element  ;
    var layer ;
    var bookid=@bookid;
    var dianjinum = 1;
    $(function(){
        $.post("/BookInfo/SelectList",{bookid:bookid},function(data){
            if(data!=null){
                if(data.List!=null){
                    ListTable(data.List);
                }
            }
        });
        CommentArea(1,20,true);
    });
    function CommentArea(pageindex,pagesize,render){
        $.post("/BookInfo/FindComment",
            {
                bookid:bookid,
                pageindex:pageindex,
                pagesize:pagesize
            },
            function(Data){
                dianjinum +=1;
                if(Data!=null){
                    if(Data.List!=null){
                    var str = "";
                    for(var i=0;i<Data.List.length;i++){
                        str += " <div class='layui-colla-item'><h2 class='layui-colla-title'>来自账号"+Data.List[i].ACCount+"的点评</h2> <div class='layui-colla-content'> <p>"+Data.List[i].BContent+"</p><br/><p>点评时间："+data_string_Date(Data.List[i].CTime).FormatStr("yyyy-MM-dd")+"</p></div></div>";
                    }
                    $(".CommentArea").append(str);
                    if(render){
                        layui.use(['element', 'layer'], function(){
                            //element = layui.element();
                            //layer = layui.layer;
  
                            //监听折叠
                            //element.on('collapse(test)', function(data){
                            //    //layer.msg('展开状态：'+ data.show);
                            //});
                        });
                    }
                }
            }
        });
    }
    $("#LookMore").click(function(){
        alert(dianjinum);
        CommentArea(dianjinum,20,false);
    });
    $("#tsbtn").click(function(){
        $(".Reportdiv").css("display","block");
    });
    $("#tcbtn").click(function(){
        $(".Commentdiv").css("display","block");
    });
    function lookchp(obj){
        debugger
        //章节ID
        var CHID = $(obj).attr("myid");
        var data={
            CHID:CHID,
            Bookid:bookid
        };
        window.open("/BookInfo/ChapterContent?"+jQuery.param(data));
    }
    //收藏
    $("#Collection").click(function(){
        $.post("/BookInfo/AddCollection",{Bookid:bookid},function(data){
            if(data.Issuccess==1){
                alert("收藏成功！");
            }
            else{
                alert("收藏失败！");
            }
        });
    });
    //投诉
    $("#ReportId").click(function(){
        if($("#ReportContent").val()==""){
            alert("请填写投诉内容！")
            return ;
        }
        $.post("/BookInfo/AddReport",
            {
                ReportContent:$("#ReportContent").val(),
                WriterID:$("#WriterID").val()
            }
        ,function(data){
            if(data!=null)
            {
                if(data.IsSuccess){
                    $(".Reportdiv").css("display","none");
                    alert("投诉成功！");
                }
            }
        });
    });
    $("#tcaddbtn").click(function(){
        if($("#CommentContent").val()==""){
            alert("请填写吐槽内容！")
            return ;
        }
        $.post("/BookInfo/AddComment",
            {
                Bookid:bookid,
                CommentContent:$("#CommentContent").val()
            }
        ,function(data){
            if(data!=null)
            {
                if(data.IsSuccess){
                    $(".Commentdiv").css("display","none");
                    alert("吐槽成功！");
                }
            }
        });
    });
    $("#listid").click(function(){
        $.post("/BookInfo/SelectList",
              {
                  Bookid:bookid
              },
              function(data){
                  if(data.List!= null){
                      ListTable(data.List);
                  }
              });
    });

    function ListTable(list){
        var str = "<tr>";
        for(var i= 1;i<list.length+1;i++){
            str += "<td class='listclass' onclick='listclass(this)' id='"+list[i-1].CHID+"'>"+i+","+list[i-1].CHName+"</td>"
            if(i%3 == 0){
                str += "</tr><tr>";
            }
        }
        if(list.length/3!=0){
            str += "</tr>";
        }
        $("#tabletbody").html(str);
    }
    function listclass(obj){
        //章节ID
        var CHID = $(obj).attr("id");
        var data={
            CHID:CHID,
            Bookid:bookid
        };
        window.open("/BookInfo/ChapterContent?"+jQuery.param(data));
    }
</script>
